<div [class]="theme">
  <div class="mat-app-background">
    <div class="container">
      <div style="height: 100vh;">
        <mat-sidenav-container>
          <mat-sidenav>
          </mat-sidenav>
          <mat-sidenav-content>
            <app-nav></app-nav>
            <main class="content">
              <router-outlet></router-outlet>
            </main>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </div>
    <app-footer (changeTheme)="onThemeChange($event)"></app-footer>
  </div>
</div>
