<div class="content">
  <mat-toolbar>
    Change Password
  </mat-toolbar>
  <form fxFlex [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="mb-20" fxFlex fxlayout="row" fxlayout.lt-md="column" fxLayoutGap="20px">
      <div fxFlexFill>
        <mat-form-field class="w-100">
          <input matInput type="password" formControlName="current_password" placeholder="Current Pasword" required  autocomplete="off">
        </mat-form-field>
      </div>
    </div>
    <div class="mb-20" fxFlex fxlayout="row" fxlayout.lt-md="column" fxLayoutGap="20px">
      <div fxFlexFill>
        <mat-form-field class="w-100">
          <input matInput type="password" formControlName="new_password" [errorStateMatcher]="errorMatcher" placeholder="New Pasword" required  autocomplete="off">
          <mat-error *ngIf="passwordForm.controls['new_password'].errors?.required">
            You must input new password!!</mat-error>
          <mat-error *ngIf="passwordForm.controls['new_password'].errors?.minlength">
            Password must be minimum of 5 letters!!</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="mb-20" fxFlex fxlayout="row" fxlayout.lt-md="column" fxLayoutGap="20px">
      <div fxFlexFill>
        <mat-form-field class="w-100">
          <input matInput type="password" formControlName="confirm_new_password" placeholder="Confirm New Pasword"
            required>
          <mat-error *ngIf="passwordForm.hasError('passwordsDoNotMatch')">Passwords do not match!!</mat-error>
        </mat-form-field>
      </div>
    </div>
    <button mat-button type="submit" [disabled]="!passwordForm.valid" color="Primary">
      <mat-icon class="nav-icon">save</mat-icon>
      Save
    </button>
    <button mat-button type="button" (click)="onCancelClicked()">
      <mat-icon class="nav-icon">cancel</mat-icon>
      Cancel
    </button>
  </form>
</div>
