<form [formGroup]="pageForm" (ngSubmit)="onSubmit()">
    <mat-grid-list #grid cols="3" rowHeight="2:1">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput formControlName="title" placeholder="Title" required/>
            <app-control-messages [control]="f.title"></app-control-messages>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput formControlName="slug" placeholder="Slug" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-slide-toggle #status formControlName="status" [checked]="f.status.value" (click)="status.value =!status.value" color="primary">{{ f.status.value ? 'Active' : 'Not Active'}}</mat-slide-toggle>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput formControlName="available_on" [matDatepicker]="pickerOn" placeholder="Available on date" />
            <mat-datepicker-toggle matSuffix [for]="pickerOn"></mat-datepicker-toggle>
            <mat-datepicker #pickerOn></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput formControlName="available_off" [matDatepicker]="pickerOff" placeholder="Available off date" />
            <mat-datepicker-toggle matSuffix [for]="pickerOff"></mat-datepicker-toggle>
            <mat-datepicker #pickerOff></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-button type="submit" color="Primary">
          <mat-icon class="nav-icon">save</mat-icon>
          Save
        </button>
        <button mat-button type="button" (click)="onCancelClicked()">
          <mat-icon class="nav-icon">cancel</mat-icon>
          Cancel
        </button>
</form>
