
<div>
  <mat-toolbar>
    <mat-toolbar-row>
        <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button (click)="onAddClicked()">Add Sale Page</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef><mat-checkbox (change)="selectAll()"></mat-checkbox></mat-header-cell>
        <mat-cell *matCellDef="let page"><mat-checkbox [checked]="page.selected"></mat-checkbox></mat-cell>
      </ng-container>
      <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
          <mat-cell *matCellDef="let page; let i=index"> {{ i+1 }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let page"> {{ page.id }} </mat-cell>
          </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let page"> {{page.title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="slug">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Slug </mat-header-cell>
          <mat-cell *matCellDef="let page"> {{page.slug}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let page"> {{page.status}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="available_on">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Available On </mat-header-cell>
          <mat-cell *matCellDef="let page"> {{page.available_on | date }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="available_off">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Available Off </mat-header-cell>
          <mat-cell *matCellDef="let page"> {{page.available_off | date}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let page" >
            <button mat-raised-button (click)="onEditClicked(page.id)"><mat-icon>edit</mat-icon></button>
            <button mat-raised-button (click)="onDeleteClicked(page.id)"><mat-icon>delete_outline</mat-icon></button>
          </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
  <mat-card *ngIf="isLoading"
    style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
</mat-card>
</div>

